@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

    font-family: Exo, sans-serif;
    color: #777777;
}

/*----------------------colours*/
body {}

#menu a {

    color: inherit;
}






/*----------------------header*/


header {


    background-color: #f30fc9;
    padding-left: 25px;


}

h2#logo {

    font-size: 50px;
    color: white;
}

#menu {

    font-size: 90%;
    list-style-type: none;
    letter-spacing: 1px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

#logo,
#menu {

    line-height: 75px;
    font-size: 25px;
    margin: 0 auto;
}

#menu li {

    float: right;
    margin-right: 25px;

}

#menu a {

    text-decoration: none;

}

#menu a:hover {

    border-bottom: 1px solid;

}

.active {}

#hero-image img {

    height: 400px;
    width: 100%;

    object-fit: cover;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}






/*------------------------------------special paddings/margins/text*/

h1 {

    padding: 10px;
    border: 1px solid;
    margin: 0 auto;
    width: fit-content;
    border-radius: 100px;
    font-size: 24px;


}

#about {


    background-color: #777777;
    font-size: 20px;
    padding-bottom: 20px;


}

#right-about {

    width: 50%;
    float: right;
    text-align: center;
    margin-left: 10%;
    background-color: #f30fc9;


}

#left-about {

    width: 50%;
    float: left;
    text-align: center;
    margin-right: 10%;

}

.container {

    display: flex;
    padding-top: 40px;
}



/*------------------------------------Services*/

.services-heading {

    padding: 25px;
    background-color: darkslategray;
    border-radius: 50px;
}


.services-container {

    display: flexbox;
    padding-top: 40px;
    display: flex-start;

}

.left-nails {



    padding-bottom: 40px;
    background-color: brown;



}

.right-brows {

    background-color: blueviolet;



}

.lashes {

    background-color: yellow;
}

table {

    padding: 25px;
    margin-top: 40px;
}

th,
td {

    padding: 1rem;
    font-size: 20px;
    padding-top: 40px;

}


/*------------------------------------Meet the team*/

.meet-the-team-section {

    height: 500px;
    width: 100%;
    padding-top: 40px;


}

.meet-the-team {

    height: 100%;
    background-color: blue;
    width: 100%;
    justify-content: center;
    justify-content: space-around;


}

.meet-laura {

    width: 40%;
    background-color: aliceblue;
    padding-top: 2%;
    justify-content: space-around;
    border-radius: 50px;


}

.image-container {

    height: 250px;
    width: 250px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
}



.meet-evie {

    background-color: aqua;
    width: 40%;
    padding-top: 2%;
    justify-content: space-around;
    border-radius: 50px;

}





/*------------------------------------footer*/

footer {
    height: 100px;
    background-color: darkslategray;
}

.social-networks {

    text-align: center;
}

.social-networks li {

    display: inline;

}

.social-networks i {

    font-size: 160%;
    color: #f30fc9;
    padding-bottom: 40px;
    padding-left: 40px;

}

span.material-icons {

    display: hidden;
}

/*------------------------------------media-queries*/

@media (max-width: 982px) {

    .hamburger {
        position: fixed;

        z-index: 99;
        background: white;
        border: none;
        cursor: pointer;
        top: 1rem;
        right: 1rem;
    }

    .menu {
        position: fixed;

        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;

        list-style: none;
        background: black;
        display: flex;

        flex-direction: column;

        transform: translateY(-100%);
        transition: transform 0.2s ease;
    }

    .close {
        position: absolute;
        border: none;
        color: white;
        cursor: pointer;
        top: 1rem;
        right: 1rem;
    }

    #services-main {

        display: flex;
        flex-wrap: wrap;
    }
}