@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Exo, sans-serif;
    color: #000000;
}

/*------------------------------------------------header*/
header {
    background-color: rgba(246, 81, 216, 1);
    width: 100%;
    display: flex;
}

h1.logo {
    font-size: 40px;
    border: 0;
}

nav {
    margin-right: 5px;
    padding-top: 22px;
}

nav li {
    display: hidden;
    list-style: none;
}

nav ul {
    display: flex;
    flex-direction: row;
}

a {
    color: #000000;
    padding-right: 10px;
}

/*-----------------------------------------hero image*/
.hero-image img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}

/*------------------------------------special paddings/margins/text*/
h1 {
    padding: 10px;
    border: 1px solid;
    margin: 0 auto;
    width: fit-content;
    border-radius: 100px;
    font-size: 24px;
    background-color: #f651d8;
}

.services-section {
    background-color: #f651d8;
}

.about {
    background-color: #ab9ba8;
    font-size: 20px;
    padding-bottom: 20px;
}

#right-about {
    width: 50%;
    float: right;
    text-align: center;
    margin-left: 10%;
    background-color: #f651d8;
}

#left-about {
    width: 50%;
    float: left;
    text-align: center;
    margin-right: 10%;
    margin-bottom: 30px;
}

.container {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
}

p {
    color: #000000
}

/*------------------------------------Services*/
.services-section h1 {
    background-color: #ab9ba8;
}

.services-section {
    padding: 30px;
}

.services-heading {
    padding: 25px;
    /* background-color: ; */
    border-radius: 50px;
}

.services-container {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #f651d8;
    text-align: center;
    padding-bottom: 30px;
}

.left-nails {
    background-color: #ab9ba8;
    border-radius: 50px;
    text-align: center;
    padding: 30px;
}

.right-brows {
    background-color: #ab9ba8;
    border-radius: 50px;
    padding: 30px;
}

.lashes {
    background-color: #ab9ba8;
    border-radius: 50px;
    padding: 30px;
}

table {
    width: 100%;
    padding: 30px;
}

th,
td {
    font-size: 20px;
    padding-top: 20px;
}

h3 {
    text-align: center;
    padding-top: 20px;
}

h1 {
    text-align: center;
}

/*------------------------------------Meet the team*/
.meet-the-team-section h1 {
    background-color: #f651d8;
}

.meet-the-team-section {
    background-color: #ab9ba8;
    padding: 30px;
}

.meet-the-team {
    background-color: #ab9ba8;
    display: flex;
    justify-content: space-around;
}

.meet-laura {
    width: 35%;
    display: flex;
    background-color: #f651d8;
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
}

.meet-evie {
    width: 35%;
    display: flex;
    background-color: #f651d8;
    flex-direction: column;
    border-radius: 50px;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
}

.meet-the-team-text {
    padding: 30px;
}

.image-container {
    height: 225px;
    width: 225px;
    border-radius: 50%;
    justify-content: center;
}

/*------------------------------------contacts and opening*/
.contact-us-section {
    background-color: #f651d8;
    padding-top: 30px;
}

.contact-us-section h1 {
    background-color: #ab9ba8;
}

.contact-and-opening-times-container {

    background-color: #f651d8;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;

}


/*------------------------------------opening hours*/
.contact-us-section {

    background-color: #f651d8;
    padding-top: 30px;

}

.contact-us-section h1 {

    background-color: #ab9ba8;
}


.contact-and-opening-times-container {

    background-color: #f651d8;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;

}

/* {

    box-sizing: border-box;
} */

.contact-us {


    background-color: #ab9ba8;
    border-radius: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 0px;
    margin-right: 30px;
    margin-left: 30px;
}

.form-area {

    background-color: #ab9ba8;
    border-radius: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 0px;
}

.msg-area {

    display: flex;
    flex-direction: column;


}

.msg-area>textarea {

    background: transparent;
    color: #000000;
    padding: 15px;
    border: 1px solid darkgray;
    border-radius: 50px;
    margin-right: 30px;
}

.details-area {


    order: 1;

}

.details-area input {

    width: 100%;
    background: transparent;
    color: #000000;
    border-radius: 40px;
}

.details-area input,
.details-area button {

    padding: 1em;
    border: 1px solid darkgray;


}

.details-area button {

    background: #f651d8;
    color: #000000;
    border: 0;
    padding: 15px 50px;
    border-radius: 50px;
    text-transform: uppercase;
}

label {

    color: #000000;
    text-transform: uppercase;


}

/*------------------------------------opening hours*/

.contact-and-opening-times-container {


    background-color: #f651d8;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;


}

.closing {


    background-color: #ab9ba8;
    border-radius: 50px;
    width: auto;
    padding: 30px;
    height: auto;
    text-align: center;
    margin-right: 30px;
}

/*------------------------------------footer*/
footer {
    padding-top: 30px;
    background-color: darkslategray;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    color: #f30fc9;
    padding-bottom: 40px;
    padding-left: 40px;
}

span.material-icons {
    display: hidden;
}

/*------------------------------------media-queries header*/
@media (max-width: 782px) {
    header {
        background-color: #f651d8;
        padding-left: 25px;
        position: relative;
        width: 100%;
        text-align: center;
        z-index: 999;
    }

    .nav-toggle {
        display: none;
    }

    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle.label span::after {
        display: block;
        background: white;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle.label span::after {
        content: '';
        position: absolute;
    }

    .nav-toggle-label span::before {
        bottom: 7px;
    }

    .nav-toggle-label span::after {
        top: 7px;
    }

    nav {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background: #f651d8;
        width: 100%;
        transform: scale(1, 0);
        transform-origin: top;
        transition: 400ms ease-in-out;
    }

    nav ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        margin-bottom: 1em;
        margin-left: 1em;
    }

    nav a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    nav a:hover {
        color: #000000;
    }

    .nav-toggle:checked~nav {
        transform: scale(1, 1);
    }

    .nav-toggle:checked~nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }
}

/*------------------------------------media-queries header*/
@media screen and (min-width: 768px) {
    header input {
        display: none;
    }
}

/*------------------------------------media-queries hero-image*/
/*------------------------------------media-queries about*/
/*------------------------------------media-queries meet-heading*/
@media (max-width: 982px) {
    .services-container {
        flex-direction: column;
    }

    .lashes {
        margin-top: 30px;
    }

    .right-brows {
        margin-top: 30px;
    }
}

/*------------------------------------media-queries Meet The Team*/
@media (max-width: 982px) {
    .meet-the-team {
        flex-direction: column;
    }

    .meet-laura {
        width: auto;
        display: flex;
        background-color: #f651d8;
        border-radius: 50px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-left: 30px;
        margin-top: 30px;
    }

    .meet-evie {
        width: auto;
        display: flex;
        background-color: #f651d8;
        border-radius: 50px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-left: 30px;
        margin-top: 30px;
    }

    /*------------------------------------media-queries contact-and-opening-times-container*/
    @media (max-width: 670px) {
        .contact-and-opening-times-container {
            flex-direction: column;
            padding: 30px;
        }

        .closing {
            margin-top: 30px;
        }
    }

    /*------------------------------------media-queries footer*/