@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

    font-family: Exo, sans-serif;
    color: #000000
}

/*----------------------colours*/
body {}

#menu a {

    color: inherit;
}






/*----------------------header*/


header {


    background-color: #f651d8;
    padding-left: 25px;


}

h2#logo {

    font-size: 50px;
    color: #ab9ba8;
}

#menu {

    font-size: 90%;
    list-style-type: none;
    letter-spacing: 1px;
    color: #000000;
    position: absolute;
    top: 0;
    right: 0;
}

#logo,
#menu {

    line-height: 75px;
    font-size: 25px;
    margin: 0 auto;
}

#menu li {

    float: right;
    margin-right: 25px;

}

#menu a {

    text-decoration: none;

}

#menu a:hover {

    border-bottom: 1px solid;

}

.active {}

#hero-image img {

    height: 400px;
    width: 100%;

    object-fit: cover;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}






/*------------------------------------special paddings/margins/text*/

h1 {

    padding: 10px;
    border: 1px solid;
    margin: 0 auto;
    width: fit-content;
    border-radius: 100px;
    font-size: 24px;
    background-color: #f651d8;
}

.services-section {

    background-color: #f651d8;
}

.about {


    background-color: #ab9ba8;
    font-size: 20px;
    padding-bottom: 20px;


}

#right-about {

    width: 50%;
    float: right;
    text-align: center;
    margin-left: 10%;
    background-color: #f651d8;


}

#left-about {

    width: 50%;
    float: left;
    text-align: center;
    margin-right: 10%;

}

.container {

    display: flex;
    padding-top: 40px;
}

p {
    color: #000000
}

/*------------------------------------Services*/
.services-section h1 {

    background-color: #ab9ba8;
}

.services-section {

    padding: 30px;
}

.services-heading {

    padding: 25px;
    background-color: ;
    border-radius: 50px;
}


.services-container {


    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #f651d8;
    text-align: center;
    padding-bottom: 30px;

}

.left-nails {

    background-color: #ab9ba8;
    border-radius: 50px;
    text-align: center;
    padding: 30px;

}

.right-brows {

    background-color: #ab9ba8;
    border-radius: 50px;
    padding: 30px;

}

.lashes {

    background-color: #ab9ba8;
    border-radius: 50px;
    padding: 30px;
}

table {

    width: 100%;
    padding: 30px;
}

th,
td {


    font-size: 20px;
    padding-top: 20px;

}

h3 {

    text-align: center;
    padding-top: 20px;

}

h1 {

    text-align: center;

}

/*------------------------------------Meet the team*/
.meet-the-team-section h1 {

    background-color: #f651d8;

}

.meet-the-team-section {

    background-color: #ab9ba8;
    padding: 30px;
}

.meet-the-team {


    background-color: #ab9ba8;
    display: flex;
    justify-content: space-around;


}

.meet-laura {

    width: 35%;
    display: flex;
    background-color: #f651d8;
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
}

.meet-evie {
    width: 35%;
    display: flex;
    background-color: #f651d8;
    flex-direction: column;
    border-radius: 50px;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-top: 30px;

}

.meet-the-team-text {

    padding: 30px;
}

.image-container {

    height: 225px;
    width: 225px;
    border-radius: 50%;
    justify-content: center;

}

/*------------------------------------contacts and opening*/
.contact-us-section {

    background-color: #f651d8;
    padding-top: 30px;
}

.contact-us-section h1 {

    background-color: #ab9ba8;
}


.contact-and-opening-times-container {

    background-color: #f651d8;
}

    {

    box-sizing: border-box;
}

.contact-us {

    width: 40%;
    background-color: #ab9ba8;
    border-radius: 50px;


}

.form-area {


    background-color: #ab9ba8;
    padding: 30px;
    border-radius: 50px;

}

.msg-area {

    display: flex;
    flex-direction: column;


}

.msg-area>textarea {

    background: transparent;
    color: #000000;
    padding: 15px;
}

.details-area {


    order: 1;

}

.details-area input {

    width: 100%;
    background: transparent;
    color: #000000;
    border-radius: 40px;
}

.details-area input,
.details-area button {

    padding: 1em;


}

.details-area button {

    background: #f651d8;
    color: #000000;
    border: 0;
    padding: 15px 50px;
    border-radius: 50px;
    text-transform: uppercase;
}

label {

    color: #000000;
    text-transform: uppercase;


}

/*------------------------------------opening hours*/

.contact-and-opening-times-container {


    background-color: #f651d8;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;


}




.closing {


    background-color: #ab9ba8;
    border-radius: 50px;
    width: auto;
    padding: 40px;
    height: auto;
    text-align: center;

}





/*------------------------------------footer*/

footer {
    padding-top: 30px;
    background-color: darkslategray;
}

.social-networks {

    text-align: center;
}

.social-networks li {

    display: inline;

}

.social-networks i {

    font-size: 160%;
    color: #f30fc9;
    padding-bottom: 40px;
    padding-left: 40px;

}

span.material-icons {

    display: hidden;
}



/*------------------------------------media-queries header*/

@media (max-width: 982px) {

    .hamburger {
        position: fixed;

        z-index: 99;
        background: white;
        border: none;
        cursor: pointer;
        top: 1rem;
        right: 1rem;
    }

    .menu {
        position: fixed;

        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;

        list-style: none;
        background: black;
        display: flex;

        flex-direction: column;

        transform: translateY(-100%);
        transition: transform 0.2s ease;
    }

    .close {
        position: absolute;
        border: none;
        color: white;
        cursor: pointer;
        top: 1rem;
        right: 1rem;
    }

    #services-main {

        display: flex;
        flex-wrap: wrap;
    }
}

/*------------------------------------media-queries hero-image*/
/*------------------------------------media-queries about*/
/*------------------------------------media-queries meet-heading*/

@media (max-width: 982px) {

    .services-container {
        flex-direction: column;
    }

    .lashes {

        margin-top: 30px;
    }

    .right-brows {

        margin-top: 30px;
    }
}


/*------------------------------------media-queries Meet The Team*/


@media (max-width: 982px) {

    .meet-the-team {
        flex-direction: column;
    }

    .meet-laura {

        width: auto;
        display: flex;
        background-color: #f651d8;
        border-radius: 50px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-left: 30px;
        margin-top: 30px;
    }

    .meet-evie {

        width: auto;
        display: flex;
        background-color: #f651d8;
        border-radius: 50px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-left: 30px;
        margin-top: 30px;
    }

    /*------------------------------------media-queries contact-and-opening-times-container*/
    /*------------------------------------media-queries Meet The Team*/
    /*------------------------------------media-queries footer*/